body{margin:0;padding:0;font-size:12px;color:#364f56;background-color:#FFFFFF;}
img{border:0;}
form{margin:0; padding:0;}
input[type=text],input[type=password],textarea{border-top:1px solid #404040;border-left:1px solid #404040;border-right:1px solid #D4D0C8;border-bottom:1px solid #D4D0C8;}
input[type=text][disabled=disabled],.disabled{background:#D4D0C8;}
input[type=text],input[type=password]{height:17px;}
input[type=text]:focus,input[type=password]:focus,textarea:focus{border:1px solid #000000;}
ul{list-style:none;}

/*链接总的css定义*/
a{text-decoration:none;}
a:link{color:#364f56;}
a:visited{color:#333333;}
a:hover{color: #ae0927;}
a:active {color: #0000ff;}
/*菜单链接*/
a.channel:link {color:#ffffff;}
a.channel:visited {color:#ffffff;}
a.channel:hover{color:#ffff00;}
a.channel:active {color:#ffffff;}
/*菜单链接*/
a.normal{text-decoration:underline;}
.clear{clear:both;}
/*后台管理界面body体*/
.body-box{width:99%;margin:0px auto;margin-right:auto;}
/*后台左页body*/
.lbody{background:url(../images/admin/lbg.jpg) right repeat-y #f6fafb;color:#666666;margin-right:6px;}
/*后台左页菜单*/
.lmenu{margin:6px 0 0 0;padding:0;list-style-type:none;}
.lmenu li{padding:7px 0 7px 30px;background-image:url(../images/admin/circle.gif);background-repeat:no-repeat;background-position:15px -1px;}
.lmenu-focus{background-color:#DDECEF;}
/*后台左页树*/
.lttop{padding:10px 0px 2px 0px;text-align:center;}
/*后台右页头部*/
.rhead{border-bottom:#dddddd 1px solid;padding:5px 15px;margin-top:5px;}
/*后台右页当前位置*/
.rpos{float:left;line-height:34px; font-weight:normal; background:url(../images/admin/icon.png) no-repeat 24px -257px; text-indent:50px;color:#000;}
/*后台右页操作*/
.ropt{float:right;padding-top:5px;}

/*----------------left-----------------*/
.left{width:226px;background-color:#f6fafb;}
.date{background:url(../images/admin/bg.png) repeat-x 0px -115px; width:226px; height:34px; line-height:34px; }
.date span{background:url(../images/admin/icon.png) no-repeat 6px -106px; text-indent:25px; display:block; color:#6a5c5c;}
.fresh{background:url(../images/admin/bg.png) repeat-x 0px -78px; height:35px; text-align:center;}
.fresh a{color:#326ba2; text-indent:25px; height:35px; width:55px; line-height:35px;font-size:12px;}

.w-lful{width:170px; margin:0 auto; margin-top:13px;padding:0px;}
.w-lful li{background:url(../images/admin/eavic.png) no-repeat; width:170px; height:25px; margin-top:13px; color:#404040; line-height:25px; text-align:center;}
.w-lful li a{color:#404040; }

/*----------------right-----------------*/
.box-positon{background:url(../images/admin/bg.png) repeat-x 0px -42px; height:34px;}
.box-positon h1{color:#000; font-size:12px; line-height:34px; font-weight:normal; background:url(../images/admin/icon.png) no-repeat 24px -257px; text-indent:50px;margin:0;}
.welcom-con{ margin:0 auto; width:98%;}
.we-txt{background:url(../images/admin/eavic.png) no-repeat 0px -80px;}
.we-txt a{color:#ff0000;}
.we-txt p{line-height:24px; padding-left:158px; margin-top:17px;}
.ms{height:27px; border-bottom:1px solid #c0d5e6; border-top:1px solid #c0d5e6; margin-top:25px;padding-left:0px;}
.ms li{color:#094f97; font-weight:bold; float:left; line-height:27px;}

.wxx{width:30%;}
.attribute{width:50%; text-indent:25px;}
.ms-xx{height:200px;border-bottom:1px solid #c0d5e6; }
.xx-xx{float:left; width:25%;}
.green{color:#048e05;}
.black{color:#1c1c1c;}
.yy{width:15%; float:left;}

.attribute-xx{width:60%;}

/*数据录入和修改样式*/
.pn-ftable{background-color:#B4CFCF;margin-top:5px;}
.pn-flabel{background-color:#e6f2fe;text-align:right;padding-right:3px; color:#000;}
.pn-flabel-h{height:27px;}
.pn-fcontent{background-color:#FFFFFF;padding-left:5px;}
.pn-fbutton{background-color:#FFFFFF;text-align:center;}
.pn-fhelp{color:#747474;padding:3px 0px;}
.pn-frequired{color:red}
.pn-fruler{background:url(../images/theme/ruler.gif) repeat-x 1px 6px;}
/*数据列表样式*/
.pn-ltable{background-color:#C8DCF0;margin:5px auto 0px auto;}
.pn-lthead{}
.pn-lthead th{height:29px;background-image:url(../images/theme/tit-tdbg.png); color:#3566a9;}
.pn-ltbody{background-color:#FFFFFF;}
.pn-ltbody .intd{text-indent:5px;}
.pn-ltbody tr{height:25px;}
/*数据列表鼠标经过样式*/
.pn-lhover{background-color:#F2F2F2;}
.pn-lselected{background-color:#d9e8fb;}
/*数据列表没有数据样式*/
.pn-lnoresult{padding:10px;border:#b4cfcf 1px solid;text-align:center;color:red;font-weight:bold;}
/*数据列表批量操作样式*/
.pn-lbopt{margin-top:2px;padding:5px;border:#b4cfcf 1px solid;}
/*数据列表操作链接样式*/
.pn-lopt{text-align:center;}
a.pn-opt{text-decoration:underline;}
a.pn-opt:link {color: #2366A8;}
a.pn-opt:visited {color: #2366A8;}
a.pn-opt:hover{color: #2366A8;}
a.pn-opt:active {color: #2366A8;}

/*按钮的样式*/
.del-button{background:url(../images/theme/del-button.png) no-repeat; width:59px; height:24px; text-indent:18px; color:#676666; border:0 none; cursor:pointer;}
.save-order{background:url(../images/theme/save-button.png) no-repeat; width:106px; height:24px; border:0 none;text-indent:18px; color:#676666; cursor:pointer;}
.save-field{background:url(../images/theme/save-button.png) no-repeat; width:125px; height:24px; border:0 none;text-indent:20px; color:#676666; cursor:pointer;}
.save-content{background:url(../images/theme/save-button.png) no-repeat; width:106px; height:24px; border:0 none;text-indent:20px; color:#676666; cursor:pointer;}
.return-button{background:url(../images/theme/theme-button.png) no-repeat -71px 0px; width:81px; height:24px; color:#646665; text-indent:18px; line-height:24px; border:0 none; cursor:pointer;}
.preview-button{background: url(../images/theme/theme-button.png) no-repeat 0px -68px; width:59px; height:24px; border:0 none; cursor:pointer; color:#005bd5; text-indent:18px; margin-bottom:5px; cursor:pointer;}
.upload-button{background: url(../images/theme/theme-button.png) no-repeat 0px -35px; width:59px; height:24px; border:0 none; cursor:pointer; color:#005bd5; text-indent:18px;  margin-bottom:5px; cursor:pointer;}
.cut-button{background: url(../images/theme/theme-button.png) no-repeat 0px -35px; width:59px; height:24px; border:0 none; cursor:pointer; color:#005bd5; text-indent:18px; cursor:pointer;}
.submit{background: url(../images/theme/theme-button.png) no-repeat -71px -35px; width:59px; height:24px; border:0 none; cursor:pointer; color:#666665; text-indent:18px; cursor:pointer;}
.reset{background: url(../images/theme/theme-button.png) no-repeat -141px -35px; width:59px; height:24px; border:0 none; cursor:pointer; color:#666665; text-indent:18px; cursor:pointer;}
.generate-static{ background:url(../images/theme/button.png) no-repeat -10px -9px; width:92px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.create-template{background:url(../images/theme/button.png) no-repeat -11px -43px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.create-file{background:url(../images/theme/button.png) no-repeat -11px -43px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.upload-file{background:url(../images/theme/button.png) no-repeat -113px -43px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.query{background:url(../images/theme/button.png) no-repeat -11px -77px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.front-view{background:url(../images/theme/button.png) no-repeat -113px -77px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.add{background:url(../images/theme/button.png) no-repeat -11px -111px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.create-new{background:url(../images/theme/button.png) no-repeat -114px -111px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.check{background:url(../images/theme/button.png) no-repeat -12px -145px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.edit{background:url(../images/theme/button.png) no-repeat -115px -145px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.reject{background:url(../images/theme/button.png) no-repeat -12px -179px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.pre-page{background:url(../images/theme/button.png) no-repeat -115px -179px; width:69px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.next-page{text-align:left;background:url(../images/theme/button.png) no-repeat -12px -213px; width:69px; height:24px; color:#666666; line-height:24px; border:0 none; cursor:pointer;}
.last-page{text-align:left;background:url(../images/theme/button.png) no-repeat -115px -212px; width:69px; height:24px; color:#666666; line-height:24px;padding:0px;border:0 none; cursor:pointer;}
.first-page{background:url(../images/theme/button.png) no-repeat -12px -247px; width:69px; height:24px; color:#666666; line-height:24px; text-indent:15px; border:0 none; cursor:pointer;}
.go{background:url(../images/theme/button.png) no-repeat -115px -247px; width:49px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.cancel{background:url(../images/theme/button.png) no-repeat -125px -282px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.vice-channel{background:url(../images/theme/button.png) no-repeat -12px -314px; width:69px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.add-picture{background:url(../images/theme/button.png) no-repeat -87px -314px; width:106px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.setting{background:url(../images/theme/button.png) no-repeat -12px -347px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.export{background:url(../images/theme/button.png) no-repeat -76px -347px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.import{background:url(../images/theme/button.png) no-repeat -140px -347px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.save-default{background:url(../images/theme/button.png) no-repeat -10px -379px; width:132px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.recycle{background:url(../images/theme/button.png) no-repeat -12px -411px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.generate-index{background:url(../images/theme/button.png) no-repeat -83px -411px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.base-setting{background:url(../images/theme/button.png) no-repeat -10px -441px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.initialize{background:url(../images/theme/button.png) no-repeat -100px -441px; width:69px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.generate-index-page{background:url(../images/theme/button.png) no-repeat -10px -472px; width:107px; height:24px; color:#666666; line-height:24px; text-indent:22px; border:0 none; cursor:pointer;}
.sys-setting{background:url(../images/theme/button.png) no-repeat -10px -501px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.login-setting{background:url(../images/theme/button.png) no-repeat -100px -501px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.mark-setting{background:url(../images/theme/button.png) no-repeat -10px -531px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.member-setting{background:url(../images/theme/button.png) no-repeat -100px -531px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.generate-channel-page{background:url(../images/theme/button.png) no-repeat -10px -560px; width:120px; height:24px; color:#666666; line-height:24px; text-indent:20px; border:0 none; cursor:pointer;}
.start-acqu{background:url(../images/theme/button.png) no-repeat -12px -591px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.channel-right{background:url(../images/theme/button.png) no-repeat -103px -591px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.del-index-page{background:url(../images/theme/button.png) no-repeat -10px -621px; width:107px; height:24px; color:#666666; line-height:24px; text-indent:22px; border:0 none; cursor:pointer;}
.generate-content-page{background:url(../images/theme/button.png) no-repeat -10px -560px; width:120px; height:24px; color:#666666; line-height:24px; text-indent:20px; border:0 none; cursor:pointer;}
.browse{background:url(../images/theme/button.png) no-repeat -127px -621px; width:59px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.file-button{height:24px;opacity:0;filter:alpha(opacity=0);position:absolute;right:5px;top:-5px; *left:0; *top:5px;}
.file-button-other{height:24px;opacity:0;filter:alpha(opacity=0);position:absolute;right:78px;top:0px;}
.send-message{background:url(../images/theme/button.png) no-repeat -10px -655px; width:95px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.forward{background:url(../images/theme/button.png) no-repeat -115px -655px; width:66px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.inbox{background:url(../images/theme/button.png) no-repeat -10px -683px; width:95px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.sendbox{background:url(../images/theme/button.png) no-repeat -10px -712px; width:95px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.trash{background:url(../images/theme/button.png) no-repeat -10px -740px; width:95px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.reply{background:url(../images/theme/button.png) no-repeat -116px -683px; width:66px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}
.delete-complete{background:url(../images/theme/button.png) no-repeat -116px -712px; width:81px; height:24px; color:#666666; line-height:24px; text-indent:18px; border:0 none; cursor:pointer;}

.editor-style{background:url(../images/theme/eidtorbg.jpg) repeat-x;height:38px;line-height:38px;}
.editor-bbg{background:url(../images/theme/tb-bg.jpg) no-repeat; width:464px;height:38px;}